body {
  background-color: rgb(74, 74, 74);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
    box-sizing: border-box;
  }

  form {
    width: 100%;
    box-sizing: border-box;
  }
}

@font-face { font-family: Akira; src: url('Akira\ Expanded\ Demo.otf'); }

@font-face { font-family: kodakku; src: url('JumperPERSONALUSEONLY-Black.ttf'); }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  padding: 9px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #00ccff;
  text-align: center;
  padding: 11px 36px;
  text-decoration: none;
  font-size: 20px;
  font-family: kodakku;
  border-radius: 30px;
  margin: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #28b3fe;
  color: white;
}

.heading {
 font-family: Akira;
 text-align: center;
 color: #28b3fe;
 padding: 15px;
 margin: 15px;
 background-color: #333;;
 border-radius: 50px;
}

.heading a { /* Changes the home page Add To Server button */
  float: none;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #1b1b1b;
  text-align: center;
  padding: 10px 36px;
  text-decoration: none;
  font-size: 20px;
  font-family: Akira;
  border-radius: 20px;
  margin: 20px;
  background:#1b1b1b;
  font-size: 0.935vw;
 }
 
 .heading a:hover { /* Changes the home page Add To Server button on hover */
  background-color:#00ccff;
   color:#1b1b1b; 
   transition: 1000ms;
   background: linear-gradient(120deg, rgb(1, 204, 45), rgb(20, 197, 220), rgb(255, 0, 0), rgb(109, 4, 196));
  background-size: 200% 100%;
  background-position: 100% 0;
 }

.features {
 font-family: Akira;
 text-align: center;
 color: #28b3fe;
 padding: 20px;
 margin: 40px;
 background-color: #1b1b1b;
 border-radius: 30px;
 width: 25%;
 display: inline-block;
 font-weight: bold;
 box-sizing: border-box;
}

.img { /* Changes the image borders to rounded edges */
 border-radius: 10px;
 position:static;
 width: 100%;
}

.img2 {
 border-radius: 50%;
 width: 40%;
}

footer {
 text-align: center;
 font-family: Akira;
} 

footer a {
 color: #00ccff;
 font-weight: bolder;
 text-decoration: none;
}

.headingblack { /* This changes the heading text in the index.htm to black */
 color: #1b1b1b;
}

span { /* Changes the word Bread in the black heading to blue */
 color: #28b3fe;
}

span2 { /* Changes the word Bread in the black heading to blue */
 color: #ffffff;
 box-sizing: border-box;
}

.aboutinfo {
 font-size: larger;
 color: white;
}

.aboutheading {
 font-family: Akira;
 text-align: center;
 color: #28b3fe;
 padding: 15px;
 margin: 15px;
 background-color: #333;;
 border-radius: 50px;
}

.aboutheading a { /* Changes the social links in the about page */
  float: none;
  color: #00ccff;
  background-color: #1b1b1b;
  text-align: center;
  padding: 10px 36px;
  text-decoration: none;
  font-size: 20px;
  font-family: Akira;
  border-radius: 20px;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.835vw;
}

.aboutheading a:hover {
 background-color:#00ccff;
  color: white;
}

.home {
 font-family: Akira;
 text-align: center;
 color: #28b3fe;
 padding: 20px;
 margin: 40px;
 background-color: #1b1b1b;
 border-radius: 30px;
 width: 25%;
 display: inline-block;
 font-weight: bold;
}

.home a { /* Changes the home page Add To Server button */
 float: none;
 display: flex;
 justify-content: center;
 color: #ffffff;
 background-color: #1b1b1b;
 text-align: center;
 padding: 10px 36px;
 text-decoration: none;
 font-size: 20px;
 font-family: Akira;
 border-radius: 20px;
 margin: 20px;
 background:#333;
 font-size: 0.935vw;
}

.home a:hover { /* Changes the home page Add To Server button on hover */
 background-color:#00ccff;
  color:#1b1b1b; 
  transition: 1000ms;
  background: linear-gradient(120deg, rgb(1, 204, 45), rgb(20, 197, 220), rgb(255, 0, 0), rgb(109, 4, 196));
 background-size: 200% 100%;
 background-position: 100% 0;
}

span3 { /* Changes the Bread description in the black heading to blue */
 color: #ffffff;
 font-size: small;
 box-sizing: border-box;
}

.plans {
  font-family: Akira;
  text-align: center;
  color: #28b3fe;
  padding: 20px;
  margin: 40px;
  background-color: #1b1b1b;
  border-radius: 30px;
  width: 25%;
  display: inline-block;
  font-weight: bold;
}

.plans a { /* Changes the Premium page buttons */
  float: none;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #1b1b1b;
  text-align: center;
  padding: 10px 36px;
  text-decoration: none;
  font-size: 20px;
  font-family: Akira;
  border-radius: 20px;
  margin: 20px;
  background:#ff2f2f;
}

.plans a:hover { /* Changes the Premium page buttons on hover */
  background-color:#00ccff;
   color:#1b1b1b; 
   transition: 1000ms;
   background: linear-gradient(120deg, rgb(50, 237, 47), rgb(20, 210, 220));
  background-size: 200%;
  background-position: 100% 0;
 }

planstext {
  color: white;
  font-size: small;
}

.box1 {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  background-color: #1b1b1b;
  color: #ffffff;
}

.inline {
  display: inline-block;
}

.box2 {
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin: 10px 0 15px 0;
  background-color: #1b1b1b;
  color: #ffffff;
  text-align: center;
}

.paymentbtn {
  width: 49%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #1b1b1b;
  color: #ffffff;
}